[submodule "nvim"]
  path = nvim
  url = git@github.com:isturiz/nvim.git
	branch = main
[submodule "kitty"]
	path = kitty
  url = git@github.com:isturiz/kitty.git
	branch = main
[submodule "zellij"]
	path = zellij
  url = git@github.com:isturiz/zellij.git
	branch = main
[submodule "fish"]
	path = fish
  url = git@github.com:isturiz/fish.git
	branch = main
